.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding: 10px 0;
}
h3 {
  padding: 30px 15px;
}
.comment {
  padding-left: 20px;
}
.bhr {
  border-top: 5px solid black;
}
